<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="UrlOpenInvoicePeru" value="http://openinvoiceperuapi.azurewebsites.net/api/"/>-->
    <add key="UrlOpenInvoicePeru" value="http://localhost:50888/OpenInvoicePeru/api/"/>
    <!--<add key="UrlOpenInvoicePeru" value="http://181.65.168.198/OpenInvoicePeru/api/"/>-->
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
